.promise__container {
  padding: 20px;
  width: 80%;

  background-color: var(--white);
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  aspect-ratio: 1/1.15;
}

@media (min-width:1200px) {
  .promise__container {
    width: 450px;
  }
}

.promise__desc__container h4 {
  text-transform: uppercase;
  font-weight: 900;
}

.promise__image {
  width: 100%;
  aspect-ratio: 1/0.5;
  border-radius: 10px;
}

