.section {
  min-height: 100vh;
  margin: 10px 10px;
}

.text_wrapper {
  padding: 5% 20px;
  text-align: center;
}
.faq_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1%;
}
@media (min-width: 900px) {
  .faq_wrapper {
    display: grid;
    gap: 3rem;
    grid-template-columns: 3fr 1fr;
    padding: 0 10%;
  }
}
@media (min-width: 1500px) {
  .faq_wrapper {
    padding: 0 20%;
  }
}
.accordions_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.cta_container {
  width: 100%;
}
.cta {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;

  padding: 20px;
  background-color: var(--white-primary);
  border: solid 1px var(--black-primary);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.cta h4,
.cta p {
  text-align: center;
  margin: 0;
}
.profile_pic {
  clip-path: circle(50% at 50% 50%);
}

.accordions_container div p a {
  text-decoration: none;
  font-weight: 700; 
  font-size: .9rem;
  color: var(--black-primary); 
} 

.accordions_container div p a:hover {
  opacity: .6;
  text-decoration: underline;
}