.faq_btn {
  background-color: var(--yellow-primary);
  color: var(--blue-primary);
  cursor: pointer;
  padding: 10px 16px;

  border: none;
  border-radius: 10px;
  transition: all ease-out 0.5s;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 60px;
}

@media (min-width: 900px) {
  .faq_btn,
  .faq_content_container {
    width: 60%;
  }
}

.faq_content_container {
  transition: all ease-out 0.5s;
  display: flex;
  justify-content: center;
}

.faq_content_container p {
  margin: 0;
  width: 80%;
  text-align: justify;
  padding: 15px;
  border-radius: 10px;

  background-color: rgb(238, 200, 0, 0.2);
}

.faq_content_container[data-visible="false"] {
  margin-top: -1.25rem;
  height: 0;
  opacity: 0;
}
.faq_content_container[data-visible="true"] {
  margin-top: 0;
  height: fit-content;
  opacity: 1;
}

.faq_content_container[data-visible="false"] p {
  visibility: hidden;
}
.faq_content_container[data-visible="true"] p {
  visibility: visible;
}
