.accordion_box {
  padding: 1rem;
  border: 1px solid;

  padding: 20px;
  background-color: var(--white-primary);
  border: solid 1px var(--black-primary);
  border-radius: 10px;
}

.title {
  background-color: var();
  cursor: pointer;
  margin:0;
  border: none;
  


  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;

  position:relative;
}
.title:after {
  /* content: "\276F"; */
  content: '☕︎';
  text-align: center;
  /* transform: rotate(90deg); */
  transition: var(--transition-quick);
  transform-origin: center;

  width: 20px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.title[aria-expanded=true]:after {
  transform: rotateZ(-40deg);
}
.title:hover{
  opacity: .5;
}

@media (min-width: 900px) {
  .title,
  .details_box {
    width: 100%;
  }
}

.accordion_content {


  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
  
}

.accordion_content[aria-hidden="false"] {
  grid-template-rows: 1fr;
}
.accordion_content > p {
  overflow: hidden;
  margin: 0;
}




