.promiseContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: auto;
}

.content {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.letter {
  /* position: relative; */
  display: inline-block;
  transition-duration: .5s;
}

.siteWeb:hover .letter[data-index="1"] {
  transform: translate(50%, -50%) rotate(10deg);
}
.siteWeb:hover .letter[data-index="2"] {
  transform: translate(30%, 30%) rotate(4deg);
}
.siteWeb:hover .letter[data-index="3"] {
  transform: translate(60%, -20%) rotate(13deg);
}
.siteWeb:hover .letter[data-index="4"] {
  transform: translate(50%, -50%) rotate(123deg);
}
.siteWeb:hover .letter[data-index="5"] {
  transform: translate(50%, -50%) rotate(87deg);
}
.siteWeb:hover .letter[data-index="6"] {
  transform: translate(30%, -50%) rotate(34deg);
}
.siteWeb:hover .letter[data-index="7"] {
  transform: translate(50%, 40%) rotate(32deg);
}
.siteWeb:hover .letter[data-index="8"] {
  transform: translate(150%, 60%) rotate(4deg);
}

/* PROJECTS */

.projectCardsTrack {
  display: inline-flex;
  justify-content: center;
  gap: 3vmin;  
  padding: 10px 0px;
}




