.text_wrapper {
  padding: 5% 20px;
}
.promise_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  max-width: 1200px;
}
@media (min-width: 400px) {
  .container {
    flex-direction: row;
  }
}
@media (min-width: 900px) {
  .text_wrapper {
    padding: 3% 20%;
  }
  .container {
    flex-wrap: nowrap;
  }
}
