.text_wrapper {
  padding: 5% 20px;
}
.promise_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  max-width: 1200px;
  padding: 0 5%;
}
@media (min-width: 900px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 900px) {
  .text_wrapper {
    padding: 3% 20%;
  }
}
