.slider_container {
  position: relative;
  display: flex;
  justify-content: center;
  scroll-snap-type: x mandatory;
}
.slider_track {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 16px;
  padding: 10px 10px;
  width: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.slider_track::-webkit-scrollbar {
  display: none;
}

.slider_track {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slider_track > * {
  scroll-snap-align: start;
  width: 300px;
  height: 80vh;
}

@media (min-width: 600px) {
  .slider_track {
    width: 100vw;
  }
  .slider_track > * {
    height: 80%;
    width: 800px;
  }
}
.slider_btns {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 0px;
}
.slider_btn_left,
.slider_btn_right {
  height: 50px;
  width: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.slider_btn_left > *,
.slider_btn_right > * {
  cursor: pointer;
  font-size: 47px;
  color: var(--yellow-primary);
}

