/* PHONES AND TABLETS */

.slider_track {
  background-color: var(--white-primary);
  border: solid 1px var(--black-primary);
  border-radius: 10px;
  height: 65vh;
  width: 85vw;
  position: relative;
  overflow: hidden;
}

.slider_btn_left,
.slider_btn_right {
  position: absolute;
  height: 50px;
  width: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 5;
  transform-origin: center;
  transition: cubic-bezier(0.57, -1.67, 0.83, 0.67) 0.3s all;
}
.slider_btn_left {
  top: 50%;
  left: 10px;
  transform-origin: center;
  transform: translateY(-50%);
}
.slider_btn_right {
  top: 50%;
  right: 10px;
  transform-origin: center;
  transform: translateY(-50%);
}
.slider_btn_left:hover,
.slider_btn_right:hover {
  transform: translateY(-50%) scale(1.2);
}

.slider_btn_left > *,
.slider_btn_right > * {
  cursor: pointer;
  font-size: 3rem;
  color: var(--yellow-primary);
}

.image_span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.image {
  object-fit: cover;
}

.contentContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  bottom: 0px;  
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content {
  margin-top: -10px;
}
.contentContainer .content a svg {
  margin-top: 0;
}

.content {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: var(--white-primary);
}

.content p,
.content h4 {
  margin: .4rem 0;
}

/* BIGGER SCREENS */

@media (min-width: 900px) {
  .slider_track {
    height: 80vh;
    max-width: 800px;
  }
}
@media (min-width: 1500px) {
  .slider_track {
    height: 65vh;
  }
}
